#main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
}

.cell {
    /* width: 5px;
    height: 5px; */
    flex-grow: 1;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-grow: 1;
}

#grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.red-color {
    background-color: red;
}

.black-color {
    background-color: black;
}

.white-color {
    background-color: white;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu {
    width: 85px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 3px;
}
